@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-color: rgb(240, 253, 244); */
    /* background-color: #8e969e; */
    background-color: #E6FFFA;
    /* background-image: url("https://www.transparenttextures.com/patterns/tileable-wood.png"); */
    /* background-image: url("https://wallpapers.com/images/hd/real-estate-background-vhie1v16atu3prs6.jpg"); */
    background-color: #ffffff;
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");

    

    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    z-index:  -1;  
    opacity: 1; 

}
.swiper-button-next:after,
.swiper-button-prev:after{
    color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: black !important
}
html::-webkit-scrollbar{
    display: none;
}
/* We are removing th scroll bar  */
html{
    scrollbar-width: none;
}
/* This is used to remove the scroll bar for firefox */
.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding: 1rem 0; */
    background-color: #f9f9f9;
    /* box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); */
  }